@media only screen and (max-height: 1500px) and (min-width: 768px){

    :root{
      --lateral-padding: 4em;
    }
    header .logo{
      display: none;
    }
  
    header h2{
      font-size: 0;
    }
  
    body{
      font-size: 1.25em;
    }
  
    .sticky-nav{
      flex-direction: column;
      position: sticky;
      top: 0;
      height: auto;
    }
  
    #src-bar{
      height: 2em;
      padding: 0em var(--lateral-padding);  
      border-radius: 0 0 .65em .65em;
    }
  
    #src-bar:hover,
    #src-bar:focus{
      border-top: 0px solid transparent;
      border-bottom: 2px solid var(--pink-accent);
    }
  
    #src-bar-wrapper button:hover ~ *,
    #src-bar-wrapper button:focus ~ *{
      border-top: 0px solid transparent;
      border-bottom: 2px solid var(--fucsia-accent);
    }
  
    #src-bar-wrapper button{
      border-radius: 0 0 .65em 0;
    }
  
    .navbar #navbar-logo{
      display: block;
    }
    
    .navbar li > * span:first-child{ /*rimuove le icone usate per la navigazione da mobile*/
      display: none;
    }
  
    .navbar #search span:first-child{
      display: inline;
    }
    .navbar #search span:last-child{
      display: none;
    }
  
    .navbar li:last-child span:first-child{
      display: inline;
    }
    .navbar li:last-child span:last-child{
      display: none;
    }
  
    .navbar li:last-child .profile-img span:first-child{
      display: none;
    }
    .navbar li:last-child .profile-img span:last-child{
      outline: 3.5px solid var(--teal-accent);
      height: 2.5em;
      width: 2.5em;
    }
    
    .navbar li > * span:nth-child(2){
      font-size: 1em;
    }
  
  
    .navbar{
      position: initial;
      height: fit-content;
      max-height: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0.45em 1em 0.85em 2.5em;
      background-color: var(--bg);
      overflow: visible;
      row-gap: .5em;
    }
  
    .navbar li{
      list-style-type: none;
      margin: 0 .7em 0 1em;
      position: relative;
      z-index: 10;
      width: auto;
      height: 100%;
    }
  
    .navbar li > *{
      color:  var(--teal-accent);
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 .5em 0 .5em;
      transition: all 0.4s ease-out 0.2s;
    }
  
    .navbar li > *:visited{
      color: var(--pink-accent);
    }
  
    .navbar li:nth-child(5){
      margin-left: auto;
      margin-right: .1em;
    }
    .navbar li:last-child{
      margin-left: .1em;
    }
  
    /*Transizioni-animazioni*/
  
    .navbar li > *::before,
    .navbar li > *::after{
      content: '';
      position: absolute;
      width: .8em;
      height: .8em;
      z-index: 0;
      opacity: 0%;
      transition: all 0.4s ease-out;
      border: 3px solid var(--fucsia-accent);
    }
    .navbar li > *::before{
      bottom: .2em;
      left: .6em;
      border-top: none;
      border-right: none;
    }
    .navbar li > *::after{
      top: .2em;
      right: .6em;
      border-bottom: none;
      border-left: none;
    }
    .navbar li > *:hover::before,
    .navbar li > *:focus::before{
      opacity: 100%;
      transform: translate(-1.2em, .6em);
    }
  
    .navbar li > *:hover::after,
    .navbar li > *:focus::after{
      opacity: 100%;
      transform: translate(1.2em, -.6em);
    }
  
    .navbar li > *:hover,
    .navbar li > *:focus{
      background-color: var(--fucsia-accent);
      color: white;
      outline: none;
    }
  
    .navbar li > *:visited:hover,
    .navbar li > *:visited:focus{
      color: white;
    }
  
    .navbar li:last-child .profile-img:hover,
    .navbar li:last-child .profile-img:focus{
      transform: scale(1.2);
      background-color: transparent;
    }
  
    .navbar li:last-child .profile-img:hover::before,
    .navbar li:last-child .profile-img:hover::before{
      opacity: 100%;
      transform: translate(-.5em, .5em);
    } 
  
    .navbar li:last-child .profile-img:hover::after,
    .navbar li:last-child .profile-img:hover::after{
      opacity: 100%;
      transform: translate(.5em, -.5em);
    }
    
    #article-header{
      padding: 2em var(--lateral-padding) 7.5em;
    }
  
    #article-body{
      padding: 3em var(--lateral-padding) 1.5em;
    }
  
    #breadcrumb{
      padding: 0.5em var(--lateral-padding);
    }
  
    .navbar li:first-child{
      margin: 0;
    }
    
    .navbar li > .logo{
      display:flex;
      justify-content: center;
      width: clamp(150px ,15vw, 250px);
      padding: 0;
      outline: 2px solid transparent;
      transition: transform .2s ease-out;
    }
    
    .navbar li > .logo:hover,
    .navbar li > .logo:focus{
      background-color: transparent;
      transform: scale(1.05);
    }
    
    .navbar li > .logo:focus{
      outline: 2px solid var(--fucsia-accent);
    }
    
    .navbar li > .logo::after,
    .navbar li > .logo::before{
      content: none;
    }
    
    
    .navbar li > .logo .text-logo{
      top: 0;
      width: 80%;
    }
    
    .navbar  li > .logo .rotating-logo{
      position: absolute;
      width: 20%;
      top: 0em;
      right: 9%;
      animation: rotating-logo-animation 25s linear forwards normal infinite 0s;
    }
  
    /**********************************
    *       GAMES CLASSES 
    *********************************/
  
    .card{      /*per fare in modo che le ultime cards non diventino troppo grandi su desktop*/
      max-width: 16em;
    }
    .card-content .tag-list .tag {
        font-size: clamp(0.35em, 5vh + .3em, .75em);
    }
    #content{
        margin: 2em min(2.5em, 3%);
    }
  
    footer{
      margin-bottom: 0vh;
      font-size: .7em;
    }
  
    footer .valid-code-wrapper{
      justify-content: space-between;
    }
  
  
    @keyframes searchPopUp {
      0%{
        z-index: -1;
        transform: translateY(-100%);
      }
      99%{
        z-index: -1;
      }
      100%{
        z-index: 0;
        transform: translateY(0);
      }
    }
  
    .favorites-content{
      padding: 0 var(--lateral-padding);
    }
    .home-content {
        display: flex;
        flex-direction: row-reverse;
    }

    #content h1 {
        text-align: center;
        font-size: 2.5em;
        margin-top: 0;
    }       

    #content h3 {
        margin-top: 0.3em;
        margin-bottom: 0.4em;
    }

    #content h4 {
        line-height: 1.1em;
    }

    #latest-articles {
        width: 65%;
        margin-right: 1.5em;
    }

    .slider {
        width: 35%;
    }

    #content .slider h1.subtitle {
        font-size: 1.5em;
        margin-top: 0.8em; /* 1.5 */
        margin-bottom: 1em; /* 1.4 */
    }

    .slides {
        margin-bottom: 2em;
        display: block;
    }

    .slider .card-article-image img {
        margin: 0 0 0 0;
        max-width: 120%;
    }

    .slider .game-list{
        display: flex;
        flex-wrap: wrap;
    }

    .slider .card{
        flex: 0 0 auto;
        width: 50%;
    }

    #content .slider h3 {
        font-size: 1em;
    }

    #content .slider h4 {
        font-size: 0.8em;
    }

    #latest-articles #card-article-tags {
        margin-bottom: 0.3em;
    }

    #hot-games{
        display: block;
    }

    #hot-games .card-content .card-title a{
        font-size: 0.7em;
        white-space: normal;
    }

    #hot-games .game-list{
        row-gap: 0;
    }

    #search-results {
        display: flex;
        flex-wrap: wrap;
        gap: .75em;
    }
    #search-results .card-article-info{
        min-height: 11em;
    }

    #search-results #card-article-tags{
      position: absolute;
      bottom:1em;
    }

    #search-results a{
      width: max(17em, 45%);
      flex: 1 1 auto;
    }
}