:root{
    --input-shadow: #41414280;
}

/**********************************************************************
*       GENERAL FORM -> used in login, signup and edit profile
**********************************************************************/

#content.form-content{
    margin: 0;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    margin: 0 auto 4em; 
    padding: 2em 0 4em;   
    background-color: var(--bg-accent);
    /*background-image: linear-gradient(to bottom, var(--bg-accent), var(--fucsia-accent));   old background, much cooler but not good for color contrast with text*/
    border-radius: 0 0 2em 2em;
    box-shadow: 0px 2px 8px 0px #000000af;
    position: relative;
}

#content .form-wrapper h1{
    color: #000000b4;
    font-size: 2.3em;
}

@media only screen and (min-width: 769px) {
    #content .form-wrapper h1{
        font-size: 3em;
    }
}

#content .form-wrapper h1::before,
#content .form-wrapper h1::after{
    content: '-'
}

form:not(form.search-form){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;
}

label[for='profile_img'] {
    cursor: pointer;
}

/*******************************************
*               INPUT FILE
*******************************************/


.input-wrapper #profile_img{
    margin-top: 0.5em;
    width: 100%;
    background: transparent;
    border: none;
    color: black;
}

form:not(form.search-form) .input-wrapper{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width: 769px) {
    form:not(form.search-form) .input-wrapper{
        margin: 0.5rem 0;
    }
}

form:not(form.search-form) label{
    display: block;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-bottom: 0.2em;
}

form:not(form.search-form) label span{
    font-size: .8em;
}


form:not(form.search-form) input:not(input[type='submit']),
form:not(form.search-form) textarea{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 5em;
    width: 100%;
    max-width: 550px;
    background-color: #fafafa;
    border: 1px solid transparent;
    margin: 0 auto;
    transition: all 0.3s ease-out;
    box-shadow: 2px 2px 4px 0 var(--input-shadow);
}



form:not(form.search-form) input:not(input[type='submit'])::placeholder,
form:not(form.search-form) textarea::placeholder{
    font-style: italic;
}

form:not(form.search-form) input:not(input[type='submit']):hover,
form:not(form.search-form) input:not(input[type='submit']):focus,
form:not(form.search-form) textarea:hover,
form:not(form.search-form) textarea:focus{
    background-color: var(--teal-accent);
    border-color: var(--teal-accent);
    outline: none;
    width: 100%;
}

form:not(form.search-form) input[type="submit"].login-signup-btn{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 5em;
    width: 80%;
    max-width: 550px;
    transition: all 0.3s ease-out;
    box-shadow: 2px 2px 4px 0 var(--input-shadow);
    background-color: var(--pink-accent);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: .3em;
    cursor: pointer;    
    border: 3px solid transparent;
    position: relative;
}


form:not(form.search-form) input[type="submit"].login-signup-btn:hover,
form:not(form.search-form) input[type="submit"].login-signup-btn:focus{
    background-color: var(--fucsia-accent);
    border: 3px solid rgba(255, 255, 255, 0.699);
    color: rgba(255, 255, 255, 1);
    
}
.form-wrapper > div{
    text-align: center;
}
.form-wrapper > div > p{
    margin-top: 1.5em;
    /* background-color: #85FFFB; */
    padding: 0.3em 1em;
    border-radius: 0.2em 1em;
    color: black;
    /* box-shadow: 2px 2px 4px 0 var(--input-shadow);     */
}

.form-wrapper > div > a{
    display: inline-block;
    color: black;
    padding: 0 1em;
    background-color: #ec80ff94;
    transition: all 0.3s ease-out;
    border-radius: 0.5em;
    box-shadow: 1px 1px 4px 0 black;
}


.form-wrapper > p > a:hover,
.form-wrapper > p > a:focus{
  background-color: var(--teal-accent);
  transform: scale(1.05);
}

.form-wrapper > p > a:visited{
  color: black;
}

.editorBox {
    color: black;
}


@keyframes popdown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }    
}


/*******************************************
*      WRITE ARTICLE FORM e about us
*******************************************/


#articleForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
}

form#articleForm input:not(input[type='submit']),
#aboutus-body form#contactForm input:not(input[type='submit']){
    border-radius: .2em;
    width: 100%;
    max-width: 100%;
}

#aboutus-body #contactForm{
    margin-top: 2em;
}

#aboutus-body #contactForm #form-email{
    margin-bottom: 1em;
}

#aboutus-body #contactForm textarea{
    resize: none;
    min-height: 9em;
    width: 100%;
    max-width: 100%;
    border-radius: .2em;
}

form#articleForm label,
#aboutus-body form#contactForm label,
form#privilegesForm label{
    color: white;
}

form:not(form.search-form) select {
    font-size: 1.5em;
    padding: 0.5em 1em;
}

form:not(form.search-form) #article-tags{
    margin: 0.5em 0 0em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0.8em;
}

form:not(form.search-form) ul.tag-list li.tag {
    padding: 0.75em;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#tag-adder-wrapper{
    display: flex;
}

#tag-adder-wrapper input{
    flex: 1 1 auto;
    width: 50%;
}

#tag-adder-wrapper button{
    flex: 1 1 auto;
    margin-left: 1em;
    font-size:1.5em;
    width: 45%;
}


  /**********************************
   *            ERROR STYLE
   *********************************/

.input-wrapper.success input:not(input[type='submit']){
    border-color: #09c372;
    background-color: #09c372;
}
  
.input-wrapper.error input:not(input[type='submit']){
    border-color: #ff3860;
    background-color: #ff3860;
}

.input-wrapper.success select:not(input[type='submit']){
    border-color: #09c372;
    background-color: #09c372;
}
  
.input-wrapper.error select:not(input[type='submit']){
    border-color: #ff3860;
    background-color: #ff3860;
}
  
.error-list{
    list-style-type: none;
    max-width: 80%;
}
  
.input-wrapper .error {
    color: #ff3860;
    font-size: 1.1em;
    text-align: center;
}
  
.error{
    color: #ff3860;
    font-size: 1.1em;
    text-align: center;
}
p.error{
    margin-bottom: 1.3em;
}


.edit-users-content .action-buttons{
    margin-top: 2em;
}
.edit-users-content .action-button{
    margin-top: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-users-content p{
    margin: 1em 0 0;
    font-size: 1.25em;
}


/*
===== PROFILE PAGE =====
*/

#user-info{
    display: flex;
    flex-direction: column;
}

#user-info .profile-info #user-specs li#user-username{
    font-size: 2em;
    color: var(--teal-accent);
    text-align: center;
}
#user-info .profile-info #user-specs li span{
    color: var(--bg-accent);
}

#user-profile-img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    min-height: 10em;
    min-width: 10em;
    max-height: 100%;
    max-width: 100%;
    border: 0.5em solid #00FFF8;
    border-radius: 100%;
}  

.logout-wrapper{
    display: flex;
    justify-content: flex-end;
}

.logout{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3em 1em 0 0;
    text-decoration: none;
}

.logout:link{
    color: var(--teal-accent);
}

.logout:hover,
.logout:focus{
    color: #FB5B5B;
    background-color: transparent;
}

.logout p{
    text-decoration: underline;
}
  
#content.profile-content .admin-link-info{
    font-size: 1.25em;
    margin: 2em auto 0em;
    color: var(--teal-accent);
    text-align: center;
}

.profile-content .action-buttons{
    margin: 1em auto;
    width: 95%;
}
.profile-content .action-buttons .action-button{
    max-width: 45%;
}

  /**********************************
   *      BUTTON CLASSES
   *********************************/


   .action-buttons,
   .form-buttons{
       margin-top: 1em;
       display:flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       gap: 1em;
       width: 100%;
   }
   
   *.action-button{
       display: flex;
       justify-content: center;
       align-items: center;
       margin: auto;
       height: 2.3em;       
       font-size: 1.25em;
       font-family: 'Poppins', sans-serif;
       min-width: 5em;
       border-radius: 2em;
       text-decoration: none;
       text-align: center;
       line-height: 1em;
       box-shadow: 2px 2px 2px 0px black;
       flex: 1 1 auto;
       transition: all 0.2s ease-in-out;
       padding: 0 .6em;
   }
   
   *.action-button.pink{
       color: black;
       background-color: var(--pink-accent);    
   }
   
   *.action-button.red{
       color: white;
       background-color: #ff3860;
   }
   
   *.action-button.purple{
       color: white;
       background-color: var(--purple-accent);    
   }
   
   *.action-button.teal{
       color: black;
       background-color: var(--teal-accent);
   }
   
   *.action-button.sh-teal{
       box-shadow: 2px 2px 2px 0px var(--teal-accent);
   }
   
   *.action-button.sh-purple{
       box-shadow: 2px 2px 2px 0px var(--purple-accent);
   }
   
   *.action-button.sh-pink{
       box-shadow: 2px 2px 2px 0px var(--pink-accent);
   }
   
   *.action-button.sh-red{
       box-shadow: 2px 2px 2px 0px#ff3860;
   }
   
   
   *.action-button.discard{
       filter: grayscale(.5);
   }
   *.action-button.discard:hover,
   *.action-button.discard:focus{
       filter: grayscale(0);
   }
   
   
   *.action-button:hover,
   *.action-button:focus{
       transform: scale(.98) translate(2px, 2px);
       box-shadow: 0px 0px 0px 0px #ffffff99;
   }
   
   
   .action-button.center{
       margin: 1em auto 0;
       width: fit-content;
       padding: 0 2em;
   }
   .action-button.no-grow{
       flex-grow: 0;
   }

   @media only screen and (min-width: 769px) {
        .form-buttons .action-button{
            flex-basis: 10%;
        }
    }
   
   .form-content .form-buttons{
       width: 80%;
       max-width: 550px;
   }


@media only screen and (max-height: 1500px) and (min-width: 768px){
    #user-info{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    #user-info .profile-hero{
        max-width: 35%;
    }
    #user-info .profile-info{
        max-width: 45%;
    }
    #user-info .profile-info #user-specs li{
        text-align: initial;
    }

    .action-buttons{
        flex-direction: row;
        flex-wrap: wrap;
    }

    #user-specs a.action-button{
        width: 5em;
    }

    .form-wrapper{
        max-width: 768px;
        animation: popdown ease-out normal forwards 0.75s 1;
    }
}




.backdrop{
    display: none;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .55);
}

.confirm-delete-box{    
    display: none;
    position: fixed;
    z-index: 1000;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    gap: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em 2em 3em;
    background-color: #222;
    text-align: center;
    max-width: 450px;
    border-radius: .75em;
    box-shadow:
    0 0px 2.2px 0px rgba(0, 0, 0, 0.44),
    0 0px 5.3px 1px rgba(0, 0, 0, 0.58),
    0 0px 10px 2px rgba(0, 0, 0, 0.65),
    0 0px 17.9px 3px rgba(0, 0, 0, 0.72),
    0 0px 80px 5px rgba(0, 0, 0, 0.32);
}
.confirm-delete-box h2,
.confirm-delete-box h3{
    text-transform: uppercase;
}

.confirm-delete-box h2{
    color: #ff3860;
}

.confirm-delete-box .delete-box-buttons{
    margin-top: 1em;
    display:flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.admin-content .action-buttons:hover *.action-button:not(:hover),
.admin-content .action-buttons:focus *.action-button:not(:focus)
.confirm-delete-box .delete-box-buttons:hover button:not(:hover),
.confirm-delete-box .delete-box-buttons :focus button:not(:focus){
    filter: grayscale(.5);
}

.action-button.pink.sh-teal.enableGenre {
    flex: 0 0 auto;
    margin-right: 0.5em;
    margin-top: 0.2em;
}

td > a.action-button.pink.sh-teal {
    width: 5%;
}

.genre-select {
    display: flex;
    contain: content;
}

.genre-selector {
    flex: 1 1 auto;
}

#article_cover_image,
#game_cover_image,
#default_article_cover_image {
    width: 30%;
    margin: auto;
    margin-bottom: 1em;
    display: block;
}

button.action-button#remove-preview-button, 
button.action-button#remove-preview-button-1, 
button.action-button#remove-preview-button-2 {
    margin: 1em clamp(1.5em, 6vw + .5em ,3em); 
    display: none;
}