abbr{
    text-decoration: none;
}

h1{
    text-align: center;
    margin-top: 0.66em;
    color: var(--fucsia-accent);
    font-weight: 900;
    font-size: 3em;
    line-height: 1.1em;
}

#content{
    margin: 2em .75em;
}

.game-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5em;
}

.card{
    flex: 1 0 auto;
    width: 11em;
    max-width: min(600px, 50%);
    display: flex;
    flex-direction: column;
    padding: 0 .5em;
}
.card > a{
    display: block;
    flex: 0 0 auto;
    object-fit: contain;
    background-color: var(--fucsia-accent);
    transition: all .2s ease-out; /*per transizione con bordi arrotondati*/
}

.card-img{
    width: 100%;
    box-shadow: 0em 0em 0 0 var(--teal-accent);
    transition: all .2s ease-out;
}
/*bordi arrotondati con piccolo scale*/
.card > a:hover .card-img,
.card > a:focus .card-img{
    border-radius: 2em;
}

.card > a:hover,
.card > a:focus{
    transform: scale(104%);
    border-radius: 3em 3em 1.75em 1.75em;
    background-color: var(--teal-accent);
}

/*translate in alto a sinistra*/
/*
.card > a:hover .card-img{
    transform: translate(.5em, -.5em);
    box-shadow: -5px 5px 0 4px var(--teal-accent);
}*/

.card-content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: .5rem .2em 0.75rem;
}

.card-content .card-title{
    font-size: clamp(0.5em, 5vh + .3em, .95em);
    text-transform: uppercase;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-content a{
    color: white;
    text-decoration: none;
}

.card-content .card-title .card-title-link:hover,
.card-content .card-title .card-title-link:focus{
    color: var(--pink-accent)
}

.card-content > ul{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-top: 0.3em;
    row-gap: .3em;
}

.card-content .tag-list .tag {
    list-style-type: none;
    font-size: clamp(0.35em, 5vh + .3em, .85em);
    padding: 0.2em 0.4em;
    margin: 0 .35ch;
    text-transform: capitalize;
}


/*per fare in modo che le ultime cards non diventino troppo grandi su desktop*/
@media screen and (max-height: 1500px) and (min-width: 570px) {
    .card{      /*per fare in modo che le ultime cards non diventino troppo grandi su desktop*/
        max-width: 16em
    }
    .card-content .tag-list .tag {
        font-size: clamp(0.35em, 5vh + .3em, .75em);
    }
    #content{
        margin: 2em min(2.5em, 3%);
    }
}

