:root{
    --input-shadow: #41414280;
}


#content.form-content{
    margin: 0;
}

#content .form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    margin: 0 auto 4em; 
    padding: 2em 0 4em;   
    background-image: linear-gradient(to bottom, var(--bg-accent), var(--fucsia-accent));
    border-radius: 0 0 2em 2em;
    box-shadow: 0px 2px 8px 0px #000000af;
    position: relative;
}

#content .form-wrapper h1{
    color: #000000b4;
    font-size: 3em;
}

#content .form-wrapper h1::before,
#content .form-wrapper h1::after{
    content: '-'
}

#content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    width: 90%;
}

/*******************************************
*               INPUT FILE
*******************************************/


#content form .input-wrapper #profile_img{
    margin-top: 0.5em;
    width: 100%;
    background: transparent;
    border: none;
}

#content form .input-wrapper{
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#content form label{
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

#content form input{
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 5em;
    width: 80%;
    max-width: 550px;
    background-color: var(--bg-accent);
    border: 1px solid var(--bg-accent);
    margin: 0 auto;
    transition: all 0.3s ease-out;
    box-shadow: 2px 2px 4px 0 var(--input-shadow);
}

#content form input::placeholder{
    font-style: italic;
}

#content form input:hover,
#content form input:focus{
    background-color: var(--teal-accent);
    border-color: var(--teal-accent);
    outline: none;
    width: 100%;
}

#content form input[type="submit"]{
    border: 1px solid var(--pink-accent);
    background-color: var(--pink-accent);
    text-transform: uppercase;
    font-weight: 600;
    margin-top: .3em;
    cursor: pointer;    
    border: 3px solid transparent;
    position: relative;
}


#content form input[type="submit"]:hover,
#content form input[type="submit"]:focus{
    background-color: var(--fucsia-accent);
    border: 3px solid rgba(255, 255, 255, 0.699);
    color: rgba(255, 255, 255, 1);
    
}

#content .form-wrapper > p{
    margin-top: 2em;
    background-color: #85FFFB;
    padding: 0.3em 1em;
    border-radius: 0.2em 1em;
    color: black;
    box-shadow: 2px 2px 4px 0 var(--input-shadow);    
}

#content .form-wrapper > p > a{
    display: inline-block;
    color: black;
    padding: 0 1em;
    background-color: #ec80ff94;
    transition: all 0.3s ease-out;
    border-radius: 0.5em;
    box-shadow: 1px 1px 4px 0 black;
}


#content .form-wrapper > p > a:hover,
#content .form-wrapper > p > a:focus{
  background-color: var(--teal-accent);
  transform: scale(1.1);
}

#content .form-wrapper > p > a:visited{
  color: black;
}


/*
======== ERROR STYLE ========
*/

#content .input-wrapper.success input {
    border-color: #09c372;
    background-color: #09c372;
}

#content .input-wrapper.error input {
    border-color: #ff3860;
    background-color: #ff3860;
}

.input-wrapper .error {
    color: #ff3860;
    font-size: 1.1em;
    height: 1.2em;
    text-align: center;
}


@keyframes popdown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }    
}


@media screen and (min-width: 570px){
    #content .form-wrapper{
        max-width: 724px;
        animation: popdown ease-out normal forwards 0.75s 1;
    }
}
