@media print {

  /**********************************
  *       GENERAL CLASSES 
  *********************************/
  :root{
    --lateral-padding: 4em;
  }
  header .logo{
    display: none;
  }

  header.page-header h2{
    font-size: 0;
  }

  body{
    border: 1px solid #000;
    font-size: 1.25em;
    box-shadow: none;
    color: black;
  }
  #content li{
    color: black;
  }

  #content{
    margin: 2em min(2.5em, 3%);
    border: none;
  }

  #content h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
  }       

  #content h3 {
      margin-top: 0.3em;
      margin-bottom: 0.4em;
  }

  #content h4 {
      line-height: 1.1em;
  }

  #content p{
    color: black;
  }
  #content a,
  #content button{
    color: black;
    text-decoration: underline;
  }

  .landing_page_content,
  .error-content,
  .favorites-content,
  .search-content,
  .edit-users-content,
  .editgame-content{
  min-height: 20vh;
}



  
  /**********************************
  *       FOOTER CLASSES
  *********************************/


  footer{
    border: 2px solid #000;
    margin-bottom: 0vh;
    font-size: .7em;
    box-shadow: none;
  }

  footer .valid-code-wrapper{
    justify-content: center;
  }

/**********************************
  *       NAV CLASSES 
  *********************************/

  .sticky-nav{
    flex-direction: column;
    position: relative;
    top: 0;
    height: auto;
  }

  #src-bar{
    height: 2em;
    padding: 0em var(--lateral-padding);  
    border-radius: 0 0 .65em .65em;
    border: 3px solid var(--pink-accent);
  }

  #src-bar-wrapper{
    display: block;
  }

  #src-bar-wrapper button{
    border-radius: 0 0 .65em 0;
  }

  .navbar #navbar-logo{
    display: block;
  }
  
  .sticky-nav .navbar li *{
    color: black;
    margin: 0;
  }

  .navbar li > * span:first-child{ /*rimuove le icone usate per la navigazione da mobile*/
    display: none;
  }

  .navbar #search span:first-child{
    display: inline;
  }
  .navbar #search span:last-child{
    display: inline;
  }
  .navbar li:last-child .profile-img span:last-child{
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
  }
  .navbar li:last-child .profile-img span:last-child img{   
    height: 2.5em;
    width: 2.5em;
  }
  
  .navbar li > * span:nth-child(2){
    font-size: 1em;
  }


  .navbar{
    padding: 0;
  }

  .navbar li{
    margin: 0 0em 0 1em;
    position: relative;
    width: auto;
    height: 100%;
  }
  
  .navbar li:nth-child(5){
    margin-left: auto;
  }

  .navbar li > .logo{
    display:flex;
    justify-content: center;
    width: clamp(150px ,15vw, 250px);
    padding: 0;
    outline: 2px solid black;
  }
  
  .navbar li > .logo .text-logo{
    top: 0;
    width: 80%;
  }
  
  .navbar  li > .logo .rotating-logo{
    position: absolute;
    width: 20%;
    top: 0em;
    right: 9%;
  }

  #breadcrumb{
    margin-top: 3em;
  }

  /**********************************
  *       GAMES CLASSES 
  *********************************/

  .card{      /*per fare in modo che le ultime cards non diventino troppo grandi su desktop*/
    max-width: 15em;
    border: 1px solid black;
  }

  .card-content .tag-list .tag {
      font-size: clamp(0.35em, 5vh + .3em, .75em);
  
  }

  .tag-list li.tag{
    box-shadow: none;
    border: 1px solid black;
  }


  .favorites-content,
  .search-content{
    padding: 0;
  }

  .search-content .card-article-link,
  .search-content .card-article-link{
    max-width: 45%;
  }

  .home-content {
      display: flex;
  }


  #latest-articles {
      width: 65%;
      margin-right: 1.5em;
  }



  /**********************************
  *       SLIDER HOME
  *********************************/

  .slider {
      width: 35%;
      overflow: initial;
  }

  #content .slider h2.subtitle {
      font-size: 1.5em;
      line-height: 1.1em;
      margin-top: 0.8em; /* 1.5 */
      margin-bottom: 1em; /* 1.4 */
  }

  .slides {
      margin-bottom: 2em;
      display: block;
      overflow:initial;
  }

  .slides > article{
    margin-bottom: 4em;
  }
  
  .card-article-link article,
  .slides article{
    border: 3px solid black;
  }

  .slider .card-article-link{
    min-width: 100%;
  }

  .slider .card-article-image{
    width: 100%;
    height: fit-content;
    overflow: visible;
    height: auto;
  }

  .slider .card-article-image img {
    transform: translateY(0);
    margin: 0 0 0 0;
    width:100%;
    position: initial;
  }

  .slide .card-article-info p{
    margin-top: 2em;
  }

  .slider .card{
    margin-bottom: 1.5em;
  }

  #content .slider h3 {
    font-size: 1em;
    color: black;
  }

  #content .slider h4 {
    font-size: 0.8em;
    color: black;
  }

  #hot-games{
    display: block;
  }

  #hot-games .game-list{
    row-gap: 0;
  }


    /**********************************
  *       GENERAL ARTICLE CARDS
  *********************************/
  .card-article-link article .card-article-info h3,
  .card-article-link article .card-article-info h4{
    color: black;
  }

  .card-article-link .card-article-info h2,
  .card-article-link .card-article-info h3,
  .card-article-link .card-article-info h4,
  .slides .card-article-link:link h4{
    text-decoration: underline;
  }

  #content .tag-list li{
    color:black;
  }
  .tag-list li:nth-child(2n), .tag-list li:nth-child(2n) a{
    text-shadow: none;
  }


  /**********************************
  *       SEARCH CLASSES 
  *********************************/

  #search-results {
      display: flex;
      flex-wrap: wrap;
      gap: .75em;
  }
  #search-results .card-article-info{
      min-height: 11em;
  }

  #search-results a{
    width: max(17em, 45%);
    flex: 1 1 auto;
  }
      
  .error-text{
    width:70%;
  }

  #imgNoDB{
    display: block;  
    width: 30%;
    height: auto;
    margin: 3em 0 0 0;  
  }


  #content *.action-button{
    background-color: transparent;
    text-decoration: underline;
    box-shadow: none;
    border: 3px solid black;
  }

  /**********************************
  *       FORM CLASSES 
  *********************************/
  input{
    outline: 2px solid black;
    border: 2px solid black;
    color: black;
  }
}


