:root{  
  --bg-accent: #85FFFB;   /*non in palette*/
  --pink-accent: #EC80FF; /*non in palette*/
  --bg: #1B1B1B;
  --teal-accent: #00FFF8;
  --blue: #001FFF;
  --purple-accent: #7300FF;
  --fucsia-accent : #DA00FF;
  --shadow: #000000;

  --content-max_width: 1024px;
}

* {
	padding: 0;
	margin:0;
  box-sizing: border-box;
}

.material-icons {    
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }


html, body{
  font-family: 'Poppins', serif;
	margin: auto;
	max-width: var(--content-max_width);
  background-color: var(--bg);
  color: white;
}

body{
	border: 1px solid #000;
  box-shadow: 0em -0.7em 2em 0 var(--shadow);
}


/*
====== HEADER ======
*/

/*
header h1{
  background-image: url("../images/Penta_logo_big.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -999em;
}
*/

header h2 {
  text-indent: -999em;
}

header .logo{
  margin-top: 3rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display:flex;
  justify-content: center;
  width: 80%;
}

header .logo .text-logo{
  top: 0;
  width: 1024px;
  max-width: 80%;
}

header .logo .rotating-logo{
  position: absolute;
  width: 20%;
  top: 0em;
  right: 9%;
  animation: rotating-logo-animation 25s linear forwards normal infinite 0s;
}

@keyframes rotating-logo-animation {
  0%{
    transform: rotate(90deg);
  }
  25%{
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}



/*
======== BREADCRUMB ========
*/
#breadcrumb {
	background-color: var(--bg-accent) ;    /* mettere lo stesso colore degli h2?*/
	color: #000000;
	font-size: 1rem;
	padding: 0.5em 4em;
}
#breadcrumb a{
  font-weight: bold;
}

a:link{
  color: #001DF5;
}

a:visited{
  color: #8F33FF;
}


/*
===== ARTICLE =====
*/


#article-header{
  display: flex;
  flex-direction: column;
  padding: 2em 4em 7.5em;

  background-image: linear-gradient(to bottom right, var(--bg), var(--bg), #999)
}

#article-title{
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--fucsia-accent)
}

#article-subtitle{
  font-weight: 300;
}


#article-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5em 0;
}

#article-info > p{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid white;
  padding: 0 0.7em;
}

#article-info > p > span{
  margin-left: 1ch;
}

#article-info p:first-child {
  padding-left: 0;
  color: var(--teal-accent);  /*messo l'autore di questo colore perchè sarà un link
  quindi per mantenere la convenzione interna dei link nei testi di questo colore
  e in più ci sta un sacco*/
}
#article-info p:last-child {
  border: none;
}

#article-tags{
  margin: 0.1rem 0 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#article-tags li:first-child{
  margin-left: 0em;
}

#article-tags li{
  list-style-type: none;
  margin-left: 1em;
  padding: 0.3em 0.7em;  
  border-radius: 2em;
  box-shadow: 3px 3px 10px 0px #000000c9;
}

#article-tags li:nth-child(odd){
  background-color: var(--purple-accent);
}

#article-tags li:nth-child(even){
  background-color:var(--fucsia-accent);
  text-shadow: 2px 2px 3px black;
}

/* non essendo link (o saranno link? non ricordo) non ha senso mettergli effetti che
vanno a "confondere" l'utente, teniamo il css in caso li rendiamo dei link

#article-tags li:hover,
#article-tags li:focus{
  background-color: var(--teal-accent);
  color: black;
}
*/

/*dimensioni font per mobile*/
@media screen and (min-width: 950px) and (min-height: 1500px){
  #article-info > p{
  font-size: 1.8rem;
  }
  #article-tags > li{
    font-size: 1.5rem;
  }
  #article-body *{
    font-size: 1.8rem;
  }
}

#article-cover{
  width: 100%;
  border-radius: 3em 3em 0 0;
}

/* si potrebbe rendere .cover-linguetta un ::before di #article-body aumentando il 
z-index di #article-body, questo eviterebbe l'ombra che corre tutto lungo l'articolo*/
.cover{
  position: relative;
  z-index: 3;
  margin-top: -6em;
}

.cover-linguetta{
  position: relative;
  z-index: 10;
  margin-top: -3em;
  padding-top: 5em;
  width: 100%;
  background-color: var(--bg);
  border-radius: 3em 3em 0 0;
  box-shadow: 0em -0.7em 2em 0 var(--shadow);
}

#article-body{
  padding: 3em 4em 1.5em;
}

#article-body > *{
  margin-bottom: 1.5rem;
}

#article-body p:first-child::first-letter{
  font-size: 2.5em;
}

#article-body h2{
  color: var(--pink-accent);
  margin-bottom: 0;
}

#article-body p{
  line-height: 2em;
  margin-bottom: 1.5rem;
}

#article-body a{
  color: var(--teal-accent);
  position: relative;
  transition: all 0.3s ease-out;
}

#article-body a:hover,
#article-body a:focus{
  color: black;
}

#article-body a:visited{
  color: var(--pink-accent);
}

#article-body a:visited:hover,
#article-body a:visited:focus{
  color: black;
}

/*al posto di before si potrebbe semplicemnte aggiungere del padding laterale,
solo che sposterebbe il testo (still responsive ma non credo vada bene alla prof)*/

#article-body a::before{
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -1;
  transition: all 0.3s ease-out;
}

#article-body a:hover::before,
#article-body a:focus::before{
  background-color: var(--teal-accent);
  border-radius: 2em;
}

#article-body ul{
  font-size: 1.2rem;
  margin-left: 3rem;  
  list-style-type:initial;
}

#article-body ul li{
  line-height: 1.75em;
}

::marker{
  color: var(--pink-accent);
}

#article-body ul strong{
  color: var(--bg-accent);
  padding: 0em 0.5em;
  border-radius: 0.5em;
}

/*
===== ABOUT US =====
*/

#aboutus-body{
  padding: 2em 3em 2em 3em;
}

#aboutus-body h2{
  font-size: 6rem;
  color: var(--pink-accent);
}

#aboutus-body h3{
  font-size: 3rem;
  padding-top: 1em;
  color: var(--teal-accent);
}

#aboutus-body li{
  list-style: none;
  padding-left: 1em;
  text-indent: -1em;
}

#aboutus-body li:before{
  content: "+";
  padding-right: 5px;
  color: var(--teal-accent);
}

#aboutus-body :nth-child(2){
  padding-top: 0;
}

/*
======== FOOTER ========
*/

footer{
	clear: both;
	text-align: center;
	font-size: 0.8rem;
	border-top: 1px solid #000;
	padding: 1.5em;
  background-color: #999;
  box-shadow: inset 0 3px 10px 0px var(--shadow);
  margin-bottom: 6vh;
}

footer p{
	display: inline;
	font-style: italic;
}

footer .imgValidCode{
	vertical-align: middle;
	margin-left: 1em;
	margin-right: 1em;
}


/*
======== NAVBAR MOBILE========
*/

.navbar span:first-child{
  display: inline-block;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  max-width: var(--content-max_width);
  height: 6vh;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
}

.navbar li{
  width: 100%;
  list-style-type: none;
}

.navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/*
======== NAVBAR DESKTOP ========
*/

@media screen and (max-height: 1500px) and (min-width: 550px){

  .navbar span:first-child{ /*rimuove le icone usate per la navigazione da mobile*/
    display: none;
  }

  .navbar{
    position: sticky;
    top: 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 0.85em 1em 0.85em 2.5em;
    background-color: var(--bg);
    z-index: 100;
    /*box-shadow: 0px 3px 5px 6px var(--bg);*/
  }

  .navbar li{
    list-style-type: none;
    margin: 0 .7em 0 1em;
    position: relative;
    z-index: 10;
    width: auto;
  }

  .navbar li a{
    color:  var(--teal-accent);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 .5em 0 .5em;
    transition: all 0.4s ease-out 0.2s;
  }

  .navbar li a:visited{
    color: var(--pink-accent);
  }

  .navbar li:nth-child(5){
    margin-left: auto;
  }


  /*Transizioni-animazioni*/

  .navbar a:before,
  .navbar a:after{
    content: '';
    position: absolute;
    width: .8em;
    height: .8em;
    z-index: 0;
    opacity: 0%;
    transition: all 0.4s ease-out;
    border: 3px solid var(--fucsia-accent);
  }
  .navbar a:before{
    bottom: .2em;
    left: .6em;
    border-top: none;
    border-right: none;
  }
  .navbar a:after{
    top: .2em;
    right: .6em;
    border-bottom: none;
    border-left: none;
  }
  .navbar a:hover:before,
  .navbar a:focus:before{
    opacity: 100%;
    transform: translate(-1.2em, .6em);
  }

  .navbar a:hover:after,
  .navbar a:focus:after{
    opacity: 100%;
    transform: translate(1.2em, -.6em);
  }

  .navbar a:hover,
  .navbar a:focus{
    background-color: var(--fucsia-accent);
    color: white;
    outline: none;
  }

  .navbar a:visited:hover,
  .navbar a:visited:focus{
    color: white;
  } 

  
footer{
  margin-bottom: 0vh;
}

}


/*media query per dimensione navbar sotto per desktop*/
@media screen and (max-height: 1500px) and (max-width: 550px) {
  .navbar{
    height: 8vh;
  }

  .navbar a{
    height: 100%;
  }

  .material-icons.md-60{
    font-size: 40px;
  }

  .navbar li a span{
    font-size: .7em;
  }
}
