<header>
    <div class="logo">
        <h2>Penta News</h2>
        <img class="text-logo" src="images/Penta_logo_open.png" alt="Penta - the eSports network logo">
        <img class="rotating-logo" src="images/small_logo.png" alt="rotating part of logo">
    </div>
    <h2>The <abbr title="electronic sports">eSports</abbr> Network</h2>
</header>

<ul class="navbar"  id="navbar">
    <li id="navbar-logo">
        <a class="logo" href="#">
            <img class="text-logo" src="images/Penta_logo_open.png" alt="Penta - the eSports network logo">
            <img class="rotating-logo" src="images/small_logo.png" alt="rotating part of logo">
        </a>
    </li>
    <li><a id="home-link" href="article.html"><span class="material-icons md-36">home</span><span>Home</span></a></li>
    <li><a id="games-link" href="categories.html"><span class="material-icons md-36">games</span><span>Categories</span></a></li>
    <li><a id="favorites-link" href="#"><span class="material-icons md-36">grade</span><span>Favorites</span></a></li>
    <li><a id="search" href="#"><span class="material-icons md-36">search</span><span>Search</span></a></li>
    <li><a id="profile-link" href="login.html"><span class="material-icons md-36">person</span><span>Profile</span></a></li>
</ul>