<a tabindex=1 href="#content" class="skip-to-content screen-reader-friendly">Press Enter to skip to content</a>

<header class="page-header">
    <div class="logo">
        <h2>Penta News</h2>
        <img class="text-logo" src="images/Penta_logo_open.png" alt="Penta News - the eSports network logo" />
        <img aria-hidden="true" class="rotating-logo" src="images/small_logo.png" alt="rotating part of logo" />
    </div>
    <h2>The <abbr title="electronic sports">eSports</abbr> Network</h2>
</header>
